* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  
}

footer {
  width: 100%;
  background-color: steelblue;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: white;
}

header img {
  width: 100px;
  height: 100px;
}

h1 {
  color: white;
  margin: 0;
}

section {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

section h2 {
  text-transform: uppercase;
}
