body {
  min-height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

header img {
  width: 100px;
  height: 100px;
}

h1 {
  color: white;
  margin: 0;
}

section {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}